* {
    box-sizing: content-box;
}

body {
    background-color: #15171e;
    color: #fff;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    font-family: 'Tisa Sans Pro', sans-serif;
}

header {
    display: flex;
    top: 0px;
    align-items: center;
    color: #fff;
    padding-bottom: 5px;
    position: sticky;
    background-color: #15171e;
    z-index: 1;
    margin: 0px 50px;
}

header > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

nav {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    width: 100%;
}


.logo {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
}

nav p a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

nav ul li a:hover {
    cursor: pointer;
    font-size: 1.1em;
    transition: font-size 0.25s;
    background-color: #1a1c23;
    padding: 15px;
    border-radius: 3px;
}

#topBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #2A2E3C; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#topBtn:hover {
  background-color: #555; 
}


main {
    display: flex;
    flex-direction: column;
}

.hero {
    overflow: hidden;
    position: relative;
    text-align: center;
    max-height: 850px;
    border-radius: 3px;
}

.hero img {
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
}

.about {
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-items: center;
    margin-top: 1%;
    background-color: #1a1c23;
}


.circle-portfolio {
    border-radius: 50%;
}

.about-me-text-container {
    display: grid;
}


.about h2 {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.02em;
}

.about p {
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 1;
    line-height: 1.6em;
    color: rgb(255, 255, 255, 0.72);
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
}

.contact {
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-items: center;
    margin-top: 1%;
    /*background-color: #1a1c23;*/
}

.contact h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 0.5em;
    letter-spacing: 0.02em;
}

.contact p {
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    margin: 0.5em;
}

.contact a {
    color: inherit;
}

.contact i {
    font-size: 4rem;
}

footer {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 20px;
    border-top: 1px solid #ffffff;
    justify-content: center;
    max-height: 4vh;
}

@media only screen and (min-width: 1px) {
    header {
        margin: 5px;
    }
    
    main {
        margin: 0px 5px
    }
    
    nav {
        display: block;
        text-align: center;
        padding: 2px;
    }
    
    nav ul {
        padding: 3% 0 0 0;
    }
    
    .hero h1 {
        font-size: 3rem;
    }
    
    .about p {
        grid-column-start: none;
        grid-row-start: none;
        margin: 2%;
    }
    
    .circle-portfolio {
        max-width: 25%;
    }
    
    .about {
        grid-template-columns: 1fr;
    }
    
    .about h2 {
        font-size: 1.25rem;
    }
    
    .contact h2 {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 0.85em;
    }
}

@media only screen and (min-width: 750px) {
    main {
        margin: 0px 50px;
    }
    
    header {
        margin: 0px 50px;
        max-height: 8vh;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1em 0;
        width: 100%;
    }
    
    nav ul {
        padding: 0;
    }
    
    .hero h1 {
        font-size: 4rem;
    }
    
    .about p {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    
    .circle-portfolio {
        max-width: 65%;
    }
    
    .about {
        grid-template-columns: 1fr 2fr;
    }
    
    .about h2 {
        font-size: 1.25rem;
    }
    
    .contact h2 {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 0.85em;
    }
}

@media only screen and (min-width: 850px) {
    .about h2 {
        font-size: 1.5rem;
    }
    
    .contact h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1000px) {
    .about h2 {
        font-size: 2rem;
    }
    
    .contact h2 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.15em;
    }
}

@media only screen and (min-width: 1250px) {
    .about h2 {
        font-size: 3rem;
    }
    
    .contact h2 {
        font-size: 3rem;
    }
    
    p {
        font-size: 1.25em;
    }
}